<h1><%= t('views.common.title_edit', name: Comment.model_name.human) %></h1>

<%= form_for([@report, @comment]) do |f| %>  
<textarea name="comment[content]" required><%= @comment.content %></textarea>   
  <div class="actions">  
    <%= f.submit t('views.common.edit') %>  
  </div>  
<% end %>

<%= link_to t('views.common.back'), reports_path %>
