<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>
<p>
  <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
  <%= l(@report.created_at, format: :long) %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:title) %>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %>:</strong>
  <%= @report.content %>
</p>

<% if @comments.present? %>
  <table>
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:avatar) %></th>
        <th><%= User.human_attribute_name(:name) %></th>
        <th><%= Comment.human_attribute_name(:content) %></th>
        <th><%= Comment.human_attribute_name(:created_at) %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= image_tag User.find(comment.user_id).avatar.variant(resize_to_fill: [30, 30]) if User.find(comment.user_id).avatar.attached? %>
          </td>

          <td>
            <% if User.find(comment.user_id).name.empty? %>
              <%= User.find(comment.user_id).email %>
            <% else %>
              <%= User.find(comment.user_id).name %>
            <% end %>
          </td>

          <td><%= comment.content %></td>
          <td><%= l(comment.created_at, format: :long) %></td>
           
          <td><%= link_to t('views.common.edit'), edit_polymorphic_url([@report, comment] ) %></td>
          <td><%= link_to t('views.common.destroy'), polymorphic_url([@report, comment]), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p><%= t('views.common.nothing_to_show', name: Comment.model_name.human) %></p>
<% end %>

<%= render 'comments/form', commentable: @report %>

<%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>
