<!DOCTYPE html>
<html>

<head>
  <title>BooksApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<% if params[:locale] == 'en' %>
<%= link_to I18n.t("translation.languages.japanese", locale: :ja), url_for(locale:'ja') %>
<% elsif params[:locale] == 'ja' %>
<%= link_to I18n.t("translation.languages.english", locale: :en), url_for(locale:'en') %>
<% end %>

<body>
  <%= yield %>
</body>

</html>
